<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.2//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!--<typeAlias alias="User" type="com.cedarsuen.mpam.model.User"/>-->
	</typeAliases>

	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://192.168.187.135:3306/mpambase" />
				<property name="username" value="syd123"/>
				<property name="password" value="syd123"/>
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="cn/sunxingdong/mpam/mapper/User.xml"/>
	</mappers>
</configuration>
